@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
  .light_menu {
    @apply flex justify-between items-center px-6 w-full h-24 shadow-md;
  }
}

#root {
  width: 100vw;
  height: 100vh;
  margin: 0;
  padding: 0;
}
